{% extends 'patient_dashboard/base.html' %}
{% block title %}Appointment{% endblock title %}

{% load crispy_forms_tags %}


{% block content %}

<form method="POST" id="appointment" data-doctors-url="{% url 'ajax_load_doctors' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
             <div class="form-group">
                <label for="name">Patient Name</label>
                <input type="hidden" class="form-control" name="patient_id" value="{{user.id}}">
                <input type="text" class="form-control" name="patient_name">
            </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="name">Age</label>
            <input type="number" class="form-control" name="patient_age">
          </div>
       </div>

       <div class="col-md-4">
        <div class="form-group">
           <label for="name">Gender</label>
           <select class="form-control" name="patient_gender">
            <option>Please Select the Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="female">Others</option>
          </select>
       </div>
   </div>
        
        
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="name">Your Email</label>
          <input type="email" class="form-control" name="patient_email">
        </div>
     </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="name">Department</label>
          <select class="form-control" name="department_id" id="department_id">
            <option>Please Select Department</option>
            {% if departments %}
            {% for department in departments %}
            <option value="{{department.id}}">{{department.department_name}}</option>
            {% endfor %}
            {% endif %}
          </select>
        </div>
      </div>
      <div class="col-md-4">
            <div class="form-group">
               <label for="name">Doctor</label>
               <select class="form-control" name="doctor_id" id="doctor_id">
                

              </select>
           </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
            <label for="name">Appointment Date</label>
           <input type="date" class="form-control" name="date">
       </div>
      </div>
    </div>
      
    
    <button type="submit" class="btn btn-primary">GET an Appointment</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#department_id").change(function () {
      var url = $("#appointment").attr("data-doctors-url");  // get the url of the `load_courses` view
      var department_id = $(this).val();  // get the selected programming ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'department_id': department_id       // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#doctor_id").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });
  </script>


{% endblock content %}



